.headlines-container {
    background: linear-gradient(to right, #000428,
            #004e92);
    padding: 20px;
    font-size: 40px;
}

.card-img-top {
    width: 50%;
    height: auto;
}

.card-body {
    padding: 20px;
    background-color: aliceblue;

}