.header-container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.font-times {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
    flex-grow: 2;
}

.date {
    text-align: left;
    font-size: 20px;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
}

.latestHeadlines {
    flex-grow: 1;
    text-align: right;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}